<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{{title}}}</title>
    <meta itemprop="name" content="{{{title}}}" />
    <meta name="twitter:title" content="{{{title}}}" />
    <meta property="og:title" content="{{{title}}}" />

    <meta name="description" content="{{{description}}}" />
    <meta itemprop="description" content="{{{description}}}" />
    <meta name="twitter:description" content="{{{description}}}" />
    <meta property="og:description" content="{{{description}}}" />

    <meta itemprop="image" content="{{{image}}}" />
    <meta name="twitter:image:src" content="{{{image}}}" />
    <meta property="og:image" content="{{{image}}}" />

    <meta name="keywords" content="{{{keywords}}}" />
    <base href="/" />
    <link rel="icon" type="image/x-icon" href="/template/img/favicon.ico" />
    <link rel="stylesheet" href="/template/css/iconfonts.css" />
    <link rel="stylesheet" href="/template/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/template/css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="/template/css/animate.css" />
    <link rel="stylesheet" href="/template/css/index.css" />
    <link rel="stylesheet" href="/template/css/other.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/template/css/index.css" />
    <style>
      <!-- CSS -->
    </style>
  </head>
  <body>
    <header class="header lock-padding" id="header">
      <div class="header__wrapper" id="headerWrapper">
        <a href="/" class="header__logo icon-logo">
          <img src="template/img/logo.png" alt="" />
        </a>
        <div class="header__menu menu burger">
          <nav class="burger__body">
            <ul class="burger__list">
              <li><a href="/about" class="burger__link">Про нас</a></li>
              <li>
                <a href="/delivery" class="burger__link">Доставка та оплата</a>
              </li>
              <li><a href="/contacts" class="burger__link">Контакти</a></li>
            </ul>
          </nav>
        </div>
        <div class="catalog-open-button">Каталог</div>
        <div class="header__actions actions">
          <div class="icon-menu" id="burger">
            <span></span>
          </div>

          <a href="/sign" class="header__profile-button">
            <img src="template/img/profile.svg" />
          </a>
          <a
            href="#popup"
            class="header__action icon-basket popup-link"
            id="icon-basket"
            ><span class="badge">3</span></a
          >
          <div class="actions__search-button">
            <button id="actions__search">
              <i class="header__action icon-search"></i>
            </button>
            <div class="actions__search-popup">
              <div class="actions__search-form">
                <form action="#">
                  <div class="actions__form">
                    <input
                      type="text"
                      id="search"
                      placeholder="Для пошуку введіть тут..."
                    />
                    <!-- <label for="actions__search"><i class="fa fa-search"></i></label> -->
                  </div>
                </form>
                <div class="actions__search-bg"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="error">
      <p>
        На сайті проводяться регламентні технічні роботи. Приносимо вибачення за
        незручності! Дякуємо що ви з нами! Все буде Україна!
      </p>
    </div>
    <main class="index-wrapper">
      <aside class="catalog">
        <div class="catalog-close"></div>
        <h2 class="catalog-title">Каталог продукції</h2>
        <button class="accordion">AJAX</button>
        <div class="panel">
          <a href="/products" class="catalog-item__link">Камери</a>
          <a href="/products" class="catalog-item__link">PTZ-камери</a>
          <a href="/products" class="catalog-item__link">Тепловізійні камери</a>
          <a href="/products" class="catalog-item__link"
            >Тепловізійні PTZ-камери</a
          >
        </div>

        <button class="accordion">Відеонагляд</button>
        <div class="panel">
          <a href="/products" class="catalog-item__link">Камери</a>
          <a href="/products" class="catalog-item__link">PTZ-камери</a>
          <a href="/products" class="catalog-item__link">Тепловізійні камери</a>
          <a href="/products" class="catalog-item__link"
            >Тепловізійні PTZ-камери</a
          >
        </div>

        <button class="accordion">Домофони</button>
        <div class="panel">
          <a href="/products" class="catalog-item__link">Монытори</a>
          <a href="/products" class="catalog-item__link">Викличні панелі</a>
          <a href="/products" class="catalog-item__link">Зчитувачі</a>
          <a href="/products" class="catalog-item__link">Кнопки</a>
          <a href="/products" class="catalog-item__link"
            >Комплекти обладнання</a
          >
          <a href="/products" class="catalog-item__link">Замки</a>
          <a href="/products" class="catalog-item__link">Карти,брелоки</a>
        </div>
        <button class="accordion">Охоронна сигналізація</button>
        <div class="panel">
          <a href="/products" class="catalog-item__link">Охоронні ПКП</a>
          <a href="/products" class="catalog-item__link">Сповіщувачі</a>
          <a href="/products" class="catalog-item__link">Охоронні сирени</a>
          <a href="/products" class="catalog-item__link">Управління охороною</a>
        </div>
        <button class="accordion">Звукове оповіщення</button>
        <div class="panel">
          <a href="/products" class="catalog-item__link">catalog subcategory</a>
          <a href="/products" class="catalog-item__link">catalog subcategory</a>
        </div>

        <button class="accordion">Акумулятори</button>
        <div class="panel">
          <a href="/products" class="catalog-item__link">Батареї</a>
        </div>
      </aside>
      <!-- HTML -->
    </main>
    <footer class="footer">
      <div class="container">
        <div class="footer__wrapper">
          <div class="footer__column customers">
            <h2 class="customers__title">Покупцям</h2>
            <ul class="customers__links">
              <!-- <li><a href="#" class="customers__link">Про Центр Безпеки</a></li>
						<li><a href="#" class="customers__link">Блог</a></li>
						<li><a href="#" class="customers__link">Бренди систем безпеки</a></li> -->
              <li><a href="/about" class="customers__link">Про нас</a></li>
              <li>
                <a href="/delivery" class="customers__link"
                  >Доставка та оплата</a
                >
              </li>
              <li><a href="/contacts" class="customers__link">Контакти</a></li>
              <li>
                <a href="/privacy" class="customers__link"
                  >Політика конфіденційності</a
                >
              </li>
              <li>
                <a href="/contract" class="customers__link"
                  >Договір публічної оферти</a
                >
              </li>
            </ul>
          </div>
          <div class="footer__column contacts">
            <h2 class="contacts__title">Підписку розсилку</h2>
            <form class="contacts__form">
              <input
                type="text"
                class="contacts__input"
                placeholder="Ваша електронна пошта"
              />
              <button class="contacts__btn btn" type="submit">
                Відправити
              </button>
            </form>
            <a href="/" class="contacts__logo"
              ><img src="template/img/logo.png" alt=""
            /></a>
            <ul class="contacts__socials socials">
              <li>
                <a
                  class="socials__link"
                  target="_blank"
                  href="https://www.facebook.com/profile.php?id=100077255652845"
                  ><img
                    src="template/img/facebook-icon.png"
                    alt="facebook icon"
                /></a>
              </li>
              <!-- <li><a class="socials__link" href="#"><img src="template/img/youtube-icon.png" alt="youtube icon"></a></li> -->
              <li>
                <a
                  class="socials__link"
                  target="_blank"
                  href="https://instagram.com/centr_bezpeku?igshid=YmMyMTA2M2Y="
                  ><img
                    src="template/img/instagram-icon.png"
                    alt="instagram icon"
                /></a>
              </li>
              <li>
                <a class="socials__link" target="_blank" href="@Safety_centr"
                  ><img
                    src="template/img/telegram-icon.png"
                    alt="telegram icon"
                /></a>
              </li>
              <li>
                <a class="socials__link" target="_blank" href="#"
                  ><img src="template/img/viber-icon.png" alt="viber icon"
                /></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <div class="loader-wrapper">
      <div class="loader-wrapper__animation">
        <img src="template/img/loader-icon.png" alt="" />
      </div>
    </div>
    <script src="/template/js/jquery.js"></script>
    <script src="/template/js/owl.carousel.min.js"></script>
    <script src="/template/js/index.js"></script>
    <script>
      <!-- JS -->
    </script>
  </body>
</html>
