<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{{title}}}</title>
	<meta itemprop="name" content="{{{title}}}">
	<meta name="twitter:title" content="{{{title}}}">
	<meta property="og:title" content="{{{title}}}" />

	<meta name="description" content="{{{description}}}">
	<meta itemprop="description" content="{{{description}}}">
	<meta name="twitter:description" content="{{{description}}}">
	<meta property="og:description" content="{{{description}}}" />

	<meta itemprop="image" content="{{{image}}}">
	<meta name="twitter:image:src" content="{{{image}}}">
	<meta property="og:image" content="{{{image}}}" />

	<meta name="keywords" content="{{{keywords}}}">
	<base href="/">
	<link rel="icon" type="image/x-icon" href="/template/img/favicon.ico">
	<link rel="stylesheet" href="/template/css/iconfonts.css">
	<link rel="stylesheet" href="/template/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/template/css/owl.theme.default.min.css">
	<link rel="stylesheet" href="/template/css/animate.css">
	<link rel="stylesheet" href="/template/css/index.css">
	<link rel="stylesheet" href="/template/css/other.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- <style>CSS</style> -->
</head>
<body>
	<!-- ===== HEADER ===== -->
	<header class="header lock-padding" id="header">
			<div class="header__wrapper" id="headerWrapper">
				<a href="/" class="header__logo icon-logo">
					<img src="template/img/logo.svg" alt="">
				</a>
				<div class="header__menu menu burger">
									<nav class="burger__body">
										<ul class="burger__list">
											<li>
												<a href="/catalog" class="burger__link catalog-link">Каталог продукції</a>
												<ul class="sub-burger__list">
													<li class="sub-burger__item"><a href="/products" class="sub-burger__link">Відеонагляд</a></li>
													<li class="sub-burger__item"><a href="/products" class="sub-burger__link">Домофони</a></li>
													<li class="sub-burger__item"><a href="/products" class="sub-burger__link">Контроль доступу</a></li>
													<li class="sub-burger__item"><a href="/products" class="sub-burger__link">Акумулятори</a></li>
													<li class="sub-burger__item"><a href="/products" class="sub-burger__link">Охоронна сигналізація</a></li>
													<li class="sub-burger__item"><a href="/products" class="sub-burger__link">Джерела живлення</a></li>
													<li class="sub-burger__item"><a href="/products" class="sub-burger__link">Звукове оповіщення</a></li>
												</ul>
											</li>
											<li><a href="/about" class="burger__link">Про нас</a></li>
											<li><a href="/delivery" class="burger__link">Доставка та оплата</a></li>
											<li><a href="/contacts" class="burger__link">Контакти</a></li>
										</ul>
									</nav>

					</div>
					<div class="header__actions actions">
						<div class="icon-menu" id="burger">
							<span></span>
						</div>
						<a href="#popup" class="header__action icon-basket popup-link" id="icon-basket"><span class="badge">3</span></a>
						<div class="actions__search-button">
							<button id="actions__search"><i class="header__action icon-search"></i></button>
							<div class="actions__search-popup">
								<div class="actions__search-bg"></div>
								<div class="actions__search-form">
									<form action="#">
										<div class="actions__form">
											<input type="text" id="search" placeholder="Для пошуку введіть тут...">
											<label for="actions__search"><i class="fa fa-search"></i></label>
										</div>
									</form>
								</div>
							</div>
						</div>					
					</div>
				</div>


	</header>
		<!-- ===== END OF HEADER ===== -->
	<!-- HTML -->

	<!-- ===== FOOTER ===== -->
	<footer class="footer">
		<div class="container">
			<div class="footer__wrapper">
				<div class="footer__column customers">
					<h2 class="customers__title">Покупцям</h2>
					<ul class="customers__links">
						<!-- <li><a href="#" class="customers__link">Про Центр Безпеки</a></li>
						<li><a href="#" class="customers__link">Блог</a></li>
						<li><a href="#" class="customers__link">Бренди систем безпеки</a></li> -->
						<li><a href="/about" class="customers__link">Про нас</a></li>
						<li><a href="/delivery" class="customers__link">Доставка та оплата</a></li>
						<li><a href="/contacts" class="customers__link">Контакти</a></li>
						<li><a href="#" class="customers__link">Політика конфіденційності</a></li>
						<li><a href="#" class="customers__link">Договір публічної оферти</a></li>
						
					</ul>
				</div>
				<div class="footer__column contacts">
					<h2 class="contacts__title">Підписку розсилку</h2>
					<form class="contacts__form">
						<input type="text" class="contacts__input" placeholder="Ваша електронна пошта" />
						<button class="contacts__btn btn" type="submit">Відправити</button>
					</form>
					<a href="/" class="contacts__logo"><img src="template/img/logo.svg" alt=""></a>
					<ul class="contacts__socials socials">
						<li><a class="socials__link" target="_blank" href="https://www.facebook.com/profile.php?id=100077255652845"><img src="template/img/facebook-icon.png" alt="facebook icon"></a></li>
						<!-- <li><a class="socials__link" href="#"><img src="template/img/youtube-icon.png" alt="youtube icon"></a></li> -->
						<li><a class="socials__link" target="_blank" href="https://instagram.com/centr_bezpeku?igshid=YmMyMTA2M2Y="><img src="template/img/instagram-icon.png" alt="instagram icon"></a></li>
						<li><a class="socials__link" target="_blank" href="@Safety_centr"><img src="template/img/telegram-icon.png" alt="telegram icon"></a></li>
						<li><a class="socials__link" target="_blank" href="#"><img src="template/img/viber-icon.png" alt="viber icon"></a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	<!-- ====== END OF FOOTER ====== -->
	<!-- ====== CART POPUP ====== -->
<div class="popup" id="popup">  
	<div class="popup__body">
		<div class="shopping__cart">
			<div class="shopping-cart-header">
				<div class="shopping-cart-total">
					<span class="total-text">Всього:</span>
					<span class="total-orice">15 097 ₴</span>
				</div>
				<a href="#headerWrapper" class="popup__close fa fa-close close-popup"></a>
			</div>
			<ul class="shopping-cart-items">
				<li class="shoppiing-cart-item">
          <div class="item-head">
						<img src="template/img/hits-1.png" alt="item1" />
						<p class="item-name">Комплект бездротової сигналізації Ajax StarterKit Plus чорний з WiFi, 2G, 3G та Ethernet</p>
					</div>
					<div class="item-result">
						<span class="item-price">1 229 ₴</span>
						<span class="item-quantity">Кількість: 1</span>
					</div>
				</li>

				<li class="shoppiing-cart-item">
          <div class="item-head">
						<img src="template/img/hits-2.png" alt="item2" />
						<span class="item-name">Джерело безперебійного живлення PSU-1203LED Kraft .</span>
					</div>
					<div class="item-result">
						<span class="item-price">12 499 ₴</span>
						<span class="item-quantity">Кількість: 1</span>
					</div>
				</li>

				<li class="shoppiing-cart-item">
          <div class="item-head">
						<img src="template/img/hits-3.png" alt="item3" />
						<span class="item-name">Акумуляторна батарея 12V7Ah/20Hr F2 TRINIX свинцево-кислотна</span>
					</div>
					<div class="item-result">
						<span class="item-price">1 229 ₴</span>
						<span class="item-quantity">Кількість: 1</span>
					</div>
				</li>
			</ul>
			<a href="#" class="shopping-cart-btn btn">Сплатити</a>
		</div>
	</div>
</div>  

<div class="modal-overlay"></div>
<!-- ====== END OF CART POPUP ====== -->
	<script src="/template/js/jquery.js"></script>
	<script src="/template/js/owl.carousel.min.js"></script>
	<script src="/template/js/index.js"></script>
	<!-- <script>JS</script> -->
</body>
</html>
