<!-- ===== MAIN ====== -->
<div class="main">
  <!-- ===== HERO PAGE ===== -->
  <section class="slider-container hero">
    <!--<h1 class="hero__title">Наші охоронні системи для вас</h1>-->
    <div class="slider hero-slider">
      <div class="card__body">
        <a href="/product" class="card__image"
          ><img
            src="template/img/hero-slider-1.jpg"
            alt="ajax alarm system"
            class="card__img"
        /></a>
      </div>
      <div class="card__body">
        <a href="/product" class="card__image"
          ><img
            src="template/img/hero-slider-2.jpg"
            alt="ajax alarm system"
            class="card__img"
        /></a>
      </div>
      <div class="card__body">
        <a href="/product" class="card__image"
          ><img
            src="template/img/hero-slider-3.jpg"
            alt="ajax alarm system"
            class="card__img"
        /></a>
      </div>
      <div class="card__body">
        <a href="/product" class="card__image"
          ><img
            src="template/img/hero-slider-4.jpg"
            alt="ajax alarm system"
            class="card__img"
        /></a>
      </div>
    </div>
  </section>
  <!-- ===== brand ====== -->
  <section class="brand">
    <a href="/products" class="brand__image"
      ><img
        src="template/img/ajax.png"
        alt="ajax alarm system"
        class="brand__img"
    /></a>

	<a href="/products" class="brand__image"
	><img
	  src="template/img/tvt.png"
	  alt="ajax alarm system"
	  class="brand__img"
  /></a>

  <a href="/products" class="brand__image"
  ><img
	src="template/img/se.png"
	alt="ajax alarm system"
	class="brand__img"
/></a>

	<a href="/products" class="brand__image"
	><img
	  src="template/img/hik.png"
	  alt="ajax alarm system"
	  class="brand__img"
  /></a>

    <a href="/products" class="brand__image"
      ><img
        src="template/img/dahua.png"
        alt="ajax alarm system"
        class="brand__img"
    /></a>
  </section>
  <!-- ===== END OF HERO PAGE ===== -->

  <!-- ===== HITS ===== -->

  <section class="slider-container hits__wrapper">
    <h2 class="hits__title title">Хіти продажу</h2>
    <div class="slider hits__cards owl-carousel owl-theme">
      <article class="hits__card card">
        <div class="card__body">
          <a href="/product" class="card__image"
            ><img
              src="template/img/hits-3.png"
              alt="ajax alarm system"
              class="card__img"
          /></a>
          <h3 class="card__title">
            <a href="/product" class="card__link">
              Комплект бездротової сигналізації Ajax StarterKit Plus чорний з
              WiFi, 2G, 3G та Ethernet
            </a>
          </h3>
          <p class="card__text">Ціна:</p>
          <div class="card__prices">
            <span class="card__price">12 499 ₴</span>
            <button type="button" class="card__cart icon-to-cart"></button>
          </div>
        </div>
      </article>
    </div>
  </section>
  <!-- ===== END OF HITS PAGE ===== -->

  <!-- ===== AJAX ===== -->
  <section class="slider-container ajax__wrapper">
    <h2 class="ajax__title title">Сигналізація <span>Ajax</span></h2>
    <div class="slider ajax__cards owl-carousel owl-theme">
      <article class="ajax__card card">
        <div class="card__body">
          <a href="/product" class="card__image"
            ><img
              src="template/img/ajax-3.png"
              alt="ajax alarm system"
              class="card__img"
          /></a>
          <h3 class="card__title">
            <a href="/product" class="card__link">
              Комплект бездротової сигналізації Ajax StarterKit Plus чорний з
              WiFi, 2G, 3G та Ethernet
            </a>
          </h3>
          <p class="card__text">Ціна:</p>
          <div class="card__prices">
            <span class="card__price">12 499 ₴</span>
            <button type="button" class="card__cart icon-to-cart"></button>
          </div>
        </div>
      </article>
    </div>
  </section>
  <!-- ===== END OF AJAX PAGE ===== -->

  <!-- ===== NEW ===== -->
  <section class="slider-container new__wrapper">
    <h2 class="new__title title">Новинки</h2>
    <div class="slider new__cards owl-carousel owl-theme">
      <article class="new__card card">
        <div class="card__body">
          <a href="/product" class="card__image"
            ><img
              src="template/img/new-3.png"
              alt="ajax alarm system"
              class="card__img"
          /></a>
          <h3 class="card__title">
            <a href="/product" class="card__link">
              Комплект бездротової сигналізації Ajax StarterKit Plus чорний з
              WiFi, 2G, 3G та Ethernet
            </a>
          </h3>
          <p class="card__text">Ціна:</p>
          <div class="card__prices">
            <span class="card__price">12 499 ₴</span>
            <button type="button" class="card__cart icon-to-cart"></button>
          </div>
        </div>
      </article>
    </div>
  </section>
</div>
<!-- ===== END OF MAIN ===== -->
