
	<!-- <aside class="catalog">
		<div class="catalog-close"></div>
		<h2 class="catalog-title">Каталог продукції</h2>
		<button class="accordion">Відеонагляд</button>
		<div class="panel">
			<a href="/products" class="catalog-item__link">Камери</a>
			<a href="/products" class="catalog-item__link">PTZ-камери</a>
			<a href="/products" class="catalog-item__link">Тепловізійні камери</a>
			<a href="/products" class="catalog-item__link">Тепловізійні PTZ-камери</a>
		</div>

		<button class="accordion">Домофони</button>
		<div class="panel">
			<a href="/products" class="catalog-item__link">Монытори</a>
			<a href="/products" class="catalog-item__link">Викличні панелі</a>
			<a href="/products" class="catalog-item__link">Зчитувачі</a>
			<a href="/products" class="catalog-item__link">Кнопки</a>
			<a href="/products" class="catalog-item__link">Комплекти обладнання</a>
			<a href="/products" class="catalog-item__link">Замки</a>
			<a href="/products" class="catalog-item__link">Карти,брелоки</a>

		</div>
		<button class="accordion">Охоронна сигналізація</button>
		<div class="panel">
			<a href="/products" class="catalog-item__link">Охоронні ПКП</a>
			<a href="/products" class="catalog-item__link">Сповіщувачі</a>
			<a href="/products" class="catalog-item__link">Охоронні сирени</a>
			<a href="/products" class="catalog-item__link">Управління охороною</a>
		</div>
		<button class="accordion">Звукове оповіщення</button>
		<div class="panel">
			<a href="/products" class="catalog-item__link">catalog subcategory</a>
			<a href="/products" class="catalog-item__link">catalog subcategory</a>
		</div>

		<button class="accordion">Акумулятори</button>
		<div class="panel">
			<a href="/products" class="catalog-item__link">Батареї</a>
			
		</div>
	</aside> -->
	<!-- ===== MAIN ====== -->
	<div class="main">
		<!-- ===== HERO PAGE ===== -->
		<div class="slider-container hero">
			<!--<h1 class="hero__title">Наші охоронні системи для вас</h1>-->
			<div class="slider hero-slider">
				<div class="card__body">
					<a href="/product" class="card__image"><img src="template/img/hero-slider-1.jpg"
						alt="ajax alarm system" class="card__img"></a>
				</div>
				<div class="card__body">
					<a href="/product" class="card__image"><img src="template/img/hero-slider-2.jpg"
						alt="ajax alarm system" class="card__img"></a>
				</div>
				<div class="card__body">
					<a href="/product" class="card__image"><img src="template/img/hero-slider-3.jpg"
						alt="ajax alarm system" class="card__img"></a>
				</div>
				<div class="card__body">
					<a href="/product" class="card__image"><img src="template/img/hero-slider-4.jpg"
						alt="ajax alarm system" class="card__img"></a>
				</div>
			</div>
		</div>
		<!-- ===== END OF HERO PAGE ===== -->

		<!-- ===== HITS ===== -->

			<div class="slider-container hits__wrapper">
				<h2 class="hits__title title">Хіти продажу</h2>
				<div class="slider hits__cards owl-carousel owl-theme">
					<article class="hits__card card">
						<div class="card__body">
							<a href="/product" class="card__image"><img src="template/img/hits-3.png"
									alt="ajax alarm system" class="card__img"></a>
							<h3 class="card__title">
								<a href="/product" class="card__link">
									Комплект бездротової сигналізації Ajax StarterKit Plus чорний з WiFi, 2G, 3G
									та
									Ethernet
								</a>
							</h3>
							<p class="card__text">Ціна:</p>
							<div class="card__prices">
								<span class="card__price">12 499 ₴</span>
								<button type="button" class="card__cart icon-to-cart"></button>
							</div>
						</div>
					</article>
				</div>
			</div>
			<!-- ===== END OF HITS PAGE ===== -->

			<!-- ===== AJAX ===== -->
			<div class="slider-container ajax__wrapper">
				<h2 class="ajax__title title">Сигналізація <span>Ajax</span></h2>
				<div class="slider  ajax__cards owl-carousel owl-theme">
					<article class="ajax__card card">
						<div class="card__body">
							<a href="/product" class="card__image"><img src="template/img/ajax-3.png"
									alt="ajax alarm system" class="card__img"></a>
							<h3 class="card__title">
								<a href="/product" class="card__link">
									Комплект бездротової сигналізації Ajax StarterKit Plus чорний з WiFi, 2G, 3G
									та
									Ethernet
								</a>
							</h3>
							<p class="card__text">Ціна:</p>
							<div class="card__prices">
								<span class="card__price">12 499 ₴</span>
								<button type="button" class="card__cart icon-to-cart"></button>
							</div>
						</div>
					</article>
				</div>
			</div>
			<!-- ===== END OF AJAX PAGE ===== -->

			<!-- ===== NEW ===== -->
			<div class="slider-container new__wrapper">
				<h2 class="new__title title">Новинки</h2>
				<div class="slider  new__cards owl-carousel owl-theme">
					<article class="new__card card">
						<div class="card__body">
							<a href="/product" class="card__image"><img src="template/img/new-3.png"
									alt="ajax alarm system" class="card__img"></a>
							<h3 class="card__title">
								<a href="/product" class="card__link">
									Комплект бездротової сигналізації Ajax StarterKit Plus чорний з WiFi, 2G, 3G
									та
									Ethernet
								</a>
							</h3>
							<p class="card__text">Ціна:</p>
							<div class="card__prices">
								<span class="card__price">12 499 ₴</span>
								<button type="button" class="card__cart icon-to-cart"></button>
							</div>
						</div>
					</article>
				</div>
			</div>
			<!-- ===== END OF NEW PAGE ===== -->

			<!-- ===== EXPERTS ===== -->
			<!-- <div class="experts">
			<div class="container">
				<div class="experts__wrapper">
					<h2 class="experts__title title">Відеоогляди від експертів</h2>
					<div class="experts__cards owl-carousel owl-theme">
						<article class="experts__card card">
							<div class="card__body">
								<div class="item-video">
									<a class="owl-video" href="https://www.youtube.com/watch?v=9kuw8l96xeo"></a>
								</div>
								<h3 class="card__title">
									<a href="https://www.youtube.com/watch?v=9kuw8l96xe" class="card__link" target="_blank">
										Ajax WaterStop: кран перекриття води з дистанційним керуванням
									</a>
								</h3>
							</div>
						</article>
						<article class="experts__card card">
							<div class="card__body">
								<div class="item-video">
									<a class="owl-video" href="https://www.youtube.com/watch?v=3g9rMzJ5xTw"></a>
								</div>
								<h3 class="card__title">
									<a href="https://www.youtube.com/watch?v=3g9rMzJ5xTw" class="card__link" target="_blank">
										Ajax LightSwitch: сенсорний вимикач для вашого комфорту
									</a>
								</h3>
							</div>
						</article>
						<article class="experts__card card">
							<div class="card__body">
								<div class="item-video">
									<a class="owl-video" href="https://www.youtube.com/watch?v=sE_yxMul5C4"></a>
								</div>
								<h3 class="card__title">
									<a href="ttps://www.youtube.com/watch?v=sE_yxMul5C4" class="card__link" target="_blank">
										Ajax LifeQuality: розумний датчик якості повітря із сенсором CO2
									</a>
								</h3>
							</div>
						</article>
						<article class="experts__card card">
							<div class="card__body">
								<div class="item-video">
									<a class="owl-video" href="https://www.youtube.com/watch?v=9xJo5hAdwl8"></a>
								</div>
								<h3 class="card__title">
									<a href="https://www.youtube.com/watch?v=9xJo5hAdwl8" class="card__link" target="_blank">
										Ajax FireProtect 2: точний пожежний датчик крізь перешкоди
									</a>
								</h3>
							</div>
						</article>
					</div>
				</div>
			</div>
		</div> -->
			<!-- ===== END OF EXPERTS PAGE ===== -->

		<!-- ===== END OF MAIN ===== -->


	</div>


