<div class="wrapper">
	<div class="header__img">
		<img src="template/img/hero-img.png" alt="background">
	</div>
<div class="header__img_full"></div>
		

	<!-- ===== MAIN ====== -->
	<div class="main">
		<!-- ===== HERO PAGE ===== -->
		<div class="hero">
			<div class="container">
				<div class="hero__wrapper">
					<div class="icon-logo">
						<img src="template/img/logo.svg" alt="">
					</div>
					<h1 class="hero__title">Наші охоронні системи для вас</h1>
				</div>
			</div>
		</div>
		<!-- ===== END OF HERO PAGE ===== -->

		<!-- ===== HITS ===== -->
		<div class="hits">
			<div class="container">
				<div class="hits__wrapper">
					<h2 class="hits__title title">Хіти продажу</h2>
					<div class="hits__cards owl-carousel owl-theme">
						<article class="hits__card card">
							<div class="card__body">
								<a href="/product" class="card__image"><img src="template/img/hits-1.png" alt="ajax alarm system" class="card__img"></a>
								<h3 class="card__title">
									<a href="template/pages/product/product.html" class="card__link">
										Комплект бездротової сигналізації Ajax StarterKit Plus чорний з WiFi, 2G, 3G та Ethernet
									</a>
								</h3>
								<p class="card__text">Ціна:</p>
								<div class="card__prices">
									<span class="card__price">1 229 ₴</span>
									<button type="button" class="card__cart icon-to-cart"></button>
								</div>
							</div>
						</article>
						<article class="hits__card card">
							<div class="card__body">
								<a href="/product" class="card__image"><img src="template/img/hits-2.png" alt="ajax alarm system" class="card__img"></a>
								<h3 class="card__title">
									<a href="/product" class="card__link">
										Джерело безперебійного живлення PSU-1203LED Kraft 
									</a>
								</h3>
								<p class="card__text">Ціна:</p>
								<div class="card__prices">
									<span class="card__price">12 499 ₴</span>
									<button type="button" class="card__cart icon-to-cart"></button>
								</div>
							</div>
						</article>
						<article class="hits__card card">
							<div class="card__body">
								<a href="/product" class="card__image"><img src="template/img/hits-3.png" alt="ajax alarm system" class="card__img"></a>
								<h3 class="card__title">
									<a href="/product" class="card__link">
										Акумуляторна батарея 12V7Ah/20Hr F2 TRINIX свинцево-кислотна
									</a>
								</h3>
								<p class="card__text">Ціна:</p>
								<div class="card__prices">
									<span class="card__price"> ₴</span>
									<button type="button" class="card__cart icon-to-cart"></button>
								</div>
							</div>
						</article>
						<article class="hits__card card">
							<div class="card__body">
								<a href="/product" class="card__image"><img src="template/img/hits-4.png" alt="ajax alarm system" class="card__img"></a>
								<h3 class="card__title">
									<a href="/product" class="card__link">
										Відеокамера TD-C12 TVT 2Mp f=2.8 мм
									</a>
								</h3>
								<p class="card__text">Ціна:</p>
								<div class="card__prices">
									<span class="card__price">13 150 ₴</span>
									<button type="button" class="card__cart icon-to-cart"></button>
								</div>
							</div>
						</article>
						<article class="hits__card card">
							<div class="card__body">
								<a href="/product" class="card__image"><img src="template/img/hits-5.png" alt="ajax alarm system" class="card__img"></a>
								<h3 class="card__title">
									<a href="/product" class="card__link">
										Відеокамера TD-9482S3 (D/PE/AR3) TVT 8Mp f=2.8 мм
									</a>
								</h3>
								<p class="card__text">Ціна:</p>
								<div class="card__prices">
									<span class="card__price">5 880 ₴</span>
									<button type="button" class="card__cart icon-to-cart"></button>
								</div>
							</div>
						</article>
						<article class="hits__card card">
							<div class="card__body">
								<a href="/product" class="card__image"><img src="template/img/hits-3.png" alt="ajax alarm system" class="card__img"></a>
								<h3 class="card__title">
									<a href="/product" class="card__link">
										Комплект бездротової сигналізації Ajax StarterKit Plus чорний з WiFi, 2G, 3G та Ethernet
									</a>
								</h3>
								<p class="card__text">Ціна:</p>
								<div class="card__prices">
									<span class="card__price">12 499 ₴</span>
									<button type="button" class="card__cart icon-to-cart"></button>
								</div>
							</div>
						</article>
					</div>
				</div>
			</div>
		</div>
		<!-- ===== END OF HITS PAGE ===== -->
	
		<!-- ===== AJAX ===== -->
		<div class="ajax">
			<div class="container">
				<div class="ajax__wrapper">
					<h2 class="ajax__title title">Сигналізація <span>Ajax</span></h2>
					<div class="ajax__cards owl-carousel owl-theme">
						<article class="ajax__card card">
							<div class="card__body">
								<a href="/product" class="card__image"><img src="template/img/ajax-1.png" alt="ajax alarm system" class="card__img"></a>
								<h3 class="card__title">
									<a href="/product" class="card__link">
										Комплект охоронної сигналізації Ajax StarterKit Cam Plus білий 
									</a>
								</h3>
								<p class="card__text">Ціна:</p>
								<div class="card__prices">
									<span class="card__price">15 999 ₴</span>
									<button type="button" class="card__cart icon-to-cart"></button>
								</div>
							</div>
						</article>
						<article class="ajax__card card">
							<div class="card__body">
								<a href="/product" class="card__image"><img src="template/img/ajax-2.png" alt="ajax alarm system" class="card__img"></a>
								<h3 class="card__title">
									<a href="/product" class="card__link">
										Комплект охоронної сигналізації Ajax StarterKit Cam Plus чорний
									</a>
								</h3>
								<p class="card__text">Ціна:</p>
								<div class="card__prices">
									<span class="card__price">15 999 ₴</span>
									<button type="button" class="card__cart icon-to-cart"></button>
								</div>
							</div>
						</article>
						<article class="ajax__card card">
							<div class="card__body">
								<a href="/product" class="card__image"><img src="template/img/ajax-3.png" alt="ajax alarm system" class="card__img"></a>
								<h3 class="card__title">
									<a href="/product" class="card__link">
										Брелок керування Ajax Tag (100pcs) чорний
									</a>
								</h3>
								<p class="card__text">Ціна:</p>
								<div class="card__prices">
									<span class="card__price">13 999 ₴</span>
									<button type="button" class="card__cart icon-to-cart"></button>
								</div>
							</div>
						</article>
						<article class="ajax__card card">
							<div class="card__body">
								<a href="/product" class="card__image"><img src="template/img/ajax-4.png" alt="ajax alarm system" class="card__img"></a>
								<h3 class="card__title">
									<a href="/product" class="card__link">
										Брелок керування Ajax Tag (100pcs) білий
									</a>
								</h3>
								<p class="card__text">Ціна:</p>
								<div class="card__prices">
									<span class="card__price">13 999 ₴</span>
									<button type="button" class="card__cart icon-to-cart"></button>
								</div>
							</div>
						</article>
						<article class="ajax__card card">
							<div class="card__body">
								<a href="/product" class="card__image"><img src="template/img/ajax-5.png" alt="ajax alarm system" class="card__img"></a>
								<h3 class="card__title">
									<a href="/product" class="card__link">
										Комплект бездротової сигналізації Ajax StarterKit Plus білий з WiFi, 2G, 3G та Ethernet
									</a>
								</h3>
								<p class="card__text">Ціна:</p>
								<div class="card__prices">
									<span class="card__price">12 499 ₴</span>
									<button type="button" class="card__cart icon-to-cart"></button>
								</div>
							</div>
						</article>
						<article class="ajax__card card">
							<div class="card__body">
								<a href="/product" class="card__image"><img src="template/img/ajax-3.png" alt="ajax alarm system" class="card__img"></a>
								<h3 class="card__title">
									<a href="/product" class="card__link">
										Комплект бездротової сигналізації Ajax StarterKit Plus чорний з WiFi, 2G, 3G та Ethernet
									</a>
								</h3>
								<p class="card__text">Ціна:</p>
								<div class="card__prices">
									<span class="card__price">12 499 ₴</span>
									<button type="button" class="card__cart icon-to-cart"></button>
								</div>
							</div>
						</article>
					</div>
				</div>
			</div>
		</div>
		<!-- ===== END OF AJAX PAGE ===== -->
	
		<!-- ===== NEW ===== -->
		<div class="new">
			<div class="container">
				<div class="new__wrapper">
					<h2 class="new__title title">Новинки</h2>
						<div class="new__cards owl-carousel owl-theme">
							<article class="new__card card">
								<div class="card__body">
									<a href="/product" class="card__image"><img src="template/img/new-1.png" alt="ajax alarm system" class="card__img"></a>
									<h3 class="card__title">
										<a href="/product" class="card__link">
											Додаткова батарея EcoFlow DELTA Pro Extra Battery (3600 Вт/г)
										</a>
									</h3>
									<p class="card__text">Ціна:</p>
									<div class="card__prices">
										<span class="card__price">148 999 ₴</span>
										<button type="button" class="card__cart icon-to-cart"></button>
									</div>
								</div>
							</article>
							<article class="new__card card">
								<div class="card__body">
									<a href="/product" class="card__image"><img src="template/img/new-2.png" alt="ajax alarm system" class="card__img"></a>
									<h3 class="card__title">
										<a href="/product" class="card__link">
											Додаткова батарея EcoFlow DELTA 2 Extra Battery
										</a>
									</h3>
									<p class="card__text">Ціна:</p>
									<div class="card__prices">
										<span class="card__price">39 999 ₴</span>
										<button type="button" class="card__cart icon-to-cart"></button>
									</div>
								</div>
							</article>
							<article class="new__card card">
								<div class="card__body">
									<a href="/product" class="card__image"><img src="template/img/new-3.png" alt="ajax alarm system" class="card__img"></a>
									<h3 class="card__title">
										<a href="/product" class="card__link">
											Комплект кабелів EcoFlow Power Kit Cable pack
										</a>
									</h3>
									<p class="card__text">Ціна:</p>
									<div class="card__prices">
										<span class="card__price">22 999 ₴</span>
										<button type="button" class="card__cart icon-to-cart"></button>
									</div>
								</div>
							</article>
							<article class="new__card card">
								<div class="card__body">
									<a href="/product" class="card__image"><img src="template/img/new-4.png" alt="ajax alarm system" class="card__img"></a>
									<h3 class="card__title">
										<a href="/product" class="card__link">
											Кріплення 5kWh LFP Battery Mounting Bracket
										</a>
									</h3>
									<p class="card__text">Ціна:</p>
									<div class="card__prices">
										<span class="card__price">2 921 ₴</span>
										<button type="button" class="card__cart icon-to-cart"></button>
									</div>
								</div>
							</article>
							<article class="new__card card">
								<div class="card__body">
									<a href="/product" class="card__image"><img src="template/img/new-5.png" alt="ajax alarm system" class="card__img"></a>
									<h3 class="card__title">
										<a href="/product" class="card__link">
											Кріплення 5kWh LFP Battery Mounting Strap
										</a>
									</h3>
									<p class="card__text">Ціна:</p>
									<div class="card__prices">
										<span class="card__price">2 426 ₴</span>
										<button type="button" class="card__cart icon-to-cart"></button>
									</div>
								</div>
							</article>
							<article class="new__card card">
								<div class="card__body">
									<a href="/product" class="card__image"><img src="template/img/new-3.png" alt="ajax alarm system" class="card__img"></a>
									<h3 class="card__title">
										<a href="/product" class="card__link">
											Комплект бездротової сигналізації Ajax StarterKit Plus чорний з WiFi, 2G, 3G та Ethernet
										</a>
									</h3>
									<p class="card__text">Ціна:</p>
									<div class="card__prices">
										<span class="card__price">12 499 ₴</span>
										<button type="button" class="card__cart icon-to-cart"></button>
									</div>
								</div>
							</article>
						</div>
				</div>
			</div>
		</div>
		<!-- ===== END OF NEW PAGE ===== -->
	
		<!-- ===== EXPERTS ===== -->
		<!-- <div class="experts">
			<div class="container">
				<div class="experts__wrapper">
					<h2 class="experts__title title">Відеоогляди від експертів</h2>
					<div class="experts__cards owl-carousel owl-theme">
						<article class="experts__card card">
							<div class="card__body">
								<div class="item-video">
									<a class="owl-video" href="https://www.youtube.com/watch?v=9kuw8l96xeo"></a>
								</div>
								<h3 class="card__title">
									<a href="https://www.youtube.com/watch?v=9kuw8l96xe" class="card__link" target="_blank">
										Ajax WaterStop: кран перекриття води з дистанційним керуванням
									</a>
								</h3>
							</div>
						</article>
						<article class="experts__card card">
							<div class="card__body">
								<div class="item-video">
									<a class="owl-video" href="https://www.youtube.com/watch?v=3g9rMzJ5xTw"></a>
								</div>
								<h3 class="card__title">
									<a href="https://www.youtube.com/watch?v=3g9rMzJ5xTw" class="card__link" target="_blank">
										Ajax LightSwitch: сенсорний вимикач для вашого комфорту
									</a>
								</h3>
							</div>
						</article>
						<article class="experts__card card">
							<div class="card__body">
								<div class="item-video">
									<a class="owl-video" href="https://www.youtube.com/watch?v=sE_yxMul5C4"></a>
								</div>
								<h3 class="card__title">
									<a href="ttps://www.youtube.com/watch?v=sE_yxMul5C4" class="card__link" target="_blank">
										Ajax LifeQuality: розумний датчик якості повітря із сенсором CO2
									</a>
								</h3>
							</div>
						</article>
						<article class="experts__card card">
							<div class="card__body">
								<div class="item-video">
									<a class="owl-video" href="https://www.youtube.com/watch?v=9xJo5hAdwl8"></a>
								</div>
								<h3 class="card__title">
									<a href="https://www.youtube.com/watch?v=9xJo5hAdwl8" class="card__link" target="_blank">
										Ajax FireProtect 2: точний пожежний датчик крізь перешкоди
									</a>
								</h3>
							</div>
						</article>
					</div>
				</div>
			</div>
		</div> -->
		<!-- ===== END OF EXPERTS PAGE ===== -->
	</div>
		<!-- ===== END OF MAIN ===== -->





</div>





