.contacts-wrapper {
  padding: 25px;
  display: flex;
  flex-direction: column;
  h1{
    padding: 25px 0 0 0;
  }
  h2 {
    color: #b89b49;
    padding: 25px 0 0 0;
  }
  p {
    padding: 10px 0 0 0;
  }
}
