<div class="wrapper static-page">
    <div class="G-container-small">
        <div class="breadcrumbs">
            <a href="" class="breadcrumbs-link">Головна</a>
            <a href="" class="breadcrumbs-link">Контакти</a>
        </div>
    </div>
    <div class="G-container-small">
        <h1>Контакти</h1>

        <div class="contact-inner">
            <h2>Адреса офісу</h2>

            <p>Україна, Хмельницька обл, м. Камянець-Подільський, вул. Миру 12/38</p> 
            <p>e-mail <a href="tovsignal10a@gmail.com">tovsignal10a@gmail.com</a></p> 
            <p>тел/факс <a href="tel:0384991371">0384991371</a> </p>
            <h2>Адреса офісу</h2>

            <p>Україна, Хмельницька обл, м. Камянець-Подільський, вул. Миру 12/38</p>
            <p>e-mail <a href="tovsignal10a@gmail.com">tovsignal10a@gmail.com</a></p>
            <p>тел/факс <a href="tel:0384991371">0384991371</a></p>


            <h2>Графік роботи</h2>
            <p>Пн-Пт 09:00-17:00</p>
            <p> Сб-Нд-вихідний</p>

            <h2> Адреса магазину</h2>
            <p>Україна, Хмельницька обл, м. Камянець-Подільський, вул. Данила Галицького 16А</p>

            <p>Тел. <a href="tel:0678688868">0678688868</a></p>
            <p>e-mail securandvideosys@gmail.com</p>


            <h2>Графік роботи5</h2>

            <p>Пн-Пт 09:00-18:00</p>
            <p>Нд-вихідний</p>
        </div>

    </div>
</div>