<div class="contacts-wrapper">
  <div class="breadcrumbs">
    <a href="" class="breadcrumbs-link">Головна</a>
    <a href="" class="breadcrumbs-link">Контакти</a>
  </div>
    <h1>Контакти</h1>

    <h2>Адреса офісу</h2>

    <p>Україна, Хмельницька обл, м. Камянець-Подільський, шосе Хмельницьке, 10а</p>
    <p>e-mail: <a href="tovsignal10a@gmail.com">tovsignal10a@gmail.com</a></p>
    <p>тел/факс: <a href="tel:0973223172">+38 (097) 322-31-72</a></p>

    <h2>Графік роботи</h2>
    <p>Пн-Пт: 09:00-17:00</p>
    <p>Сб-Нд-вихідний</p>

    <h2>Адреса магазину</h2>
    <p>
      Україна, Хмельницька обл, м. Камянець-Подільський, вул. Данила Галицького
      16А
    </p>
    +38 (097) 322-31-72
    <p>Тел. <a href="tel:0678688868">+38 (067) 868-88-68</a></p>
    <p>e-mail: securandvideosys@gmail.com</p>

    <h2>Графік роботи</h2>

    <p>Пн-Пт 09:00-18:00</p>
    <p>Нд-вихідний</p>
</div>
