<div class="delivery-wrapper">
  <div class="breadcrumbs">
    <a href="" class="breadcrumbs-link">Головна</a>
    <a href="" class="breadcrumbs-link">Доставка та оплата</a>
  </div>

  <h1>Оплата і доставка</h1>
  <h2>Безкоштовна доставка</h2>

  <p>Безкоштовна при замовленні від 1500 грн<br /></p>

  <p>
    Доставка відбувається перевізником Нова Пошта змінити перевізника можна при
    узгодженні з співробітником магазину, або в коментарі до замовлення<br />
  </p>

  <p>Доставка складає 2-3 дні.<br /></p>

  <p>Вавжливо! Ми вказуємо повну оголошену вартість замовлення<br /></p>
</div>
