// ===== HEADER =====
.top-bar{
  width: 100%;
  height: 25px;
  background: #f5f5f5;
  position: fixed;
}

.header {
  display: flex;
  width: 100%;
  background: #221f1f;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  justify-content: center;
  backdrop-filter: blur(4px);
  &__wrapper {
    display: flex;
    width: 100%;
    max-width: 1440px;
    padding: 14px 20px 13px 20px;
    align-items: center;
    justify-content: space-between;
    @include bp-max(lg) {
      padding: 13px 20px;
    }
    @include bp-max(md) {
      padding: 20px 25px;
      justify-content: start;
    }
    @include bp-max(xs) {
      padding: 20px 7px;
    }    

    &_scroll {
      transition: all 0.3s ease-out;
    }
  }
  &__menu {
    flex-grow: 1;
  }

  & .icon-logo {
    max-width: 215px;
    width: 100%;
    flex-shrink: 0;
    @include bp-max(md) {
      font-size: 25px;
      // float: right;
    }

    @include bp-max(xs) {
      font-size: 35px;
      overflow: hidden;
    width: 42px;
    height: 100%;
    }
    img {
      @include bp-max(xs) {
          width: 215px;
    max-width: 228px;
      }
    }
  }

  &__actions {
    display: flex;
    gap: 40px;
    // color: $dark-marine;
    font-size: 25px;

    @include bp-max(lg) {
      font-size: 20px;
      gap: 15px;
    }

    @include bp-max(md) {
      // display: none;
      float: right;
    }

  }  
  .icon-basket {position: relative;}
  &__action {
    color: #b89b49;
    transition: 200ms;
    &:hover {
      color: #b89b498c;
    }
  }

  &__img {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(50%);
    z-index: 1;
    @include bp-max(md) {
      display: none;
    }
  }
  &__img_full {
    display: none;

    @include bp-max(md) {
      position: absolute;
      top: 0px;
      right: 0px;
      z-index: 1;
      display: block;
      width: 100%;
      height: 732px;
      background-image: url(../img/hero-img-full.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      filter: blur(2px);
      display: none;
    }

    @include bp-max(md) {
      height: 650px;
    }

    @include bp-max(xs) {
      height: 500px;
    }
  }
}

.badge {
  background-color: #fff;
  border-radius: 50%;
  color: #b89b49;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  width: 18px;
  height: 18px;
  position: absolute;
  right: -8px;
  bottom: -4px;
}


.actions {
  &__search-button {
  float: right;
  }

  &__search-button {
    position: relative;
    & button {
      border: none;
      background: transparent;
      color: white;
      cursor: pointer;
    }
  }

  &__search-popup {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transition: color .8s ease;
    z-index: 23;
    background: rgb(0 0 0 / 74%);
    backdrop-filter: blur(2px);
  }
  &__search-bg {
    width: 80px;
    height: 100%;
    margin-left: 6px;
    position: relative;
    cursor: pointer;
    &:before, &:after {
      content: "";
      width: 30px;
      height: 4px;
      position: absolute;
      background: white;
      transform-origin: center;
      left: 13px;
      top: 35px;
    }
    &:before {transform: rotate(45deg);}
    &:after {transform: rotate(-45deg);}
  }

  &__search-popup label {
    color: $marine;
  }

  &__search-form {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }

  &__form {
    position: relative;
    transition: color .8s ease;
    max-width: 700px;
    margin: 0 auto;
  }

  &__form input {
    font-size: 18px;
    padding: 12px 24px;
    width: 100%;
    height: 43px;
    background: #f4f4f4;
    border: 1px solid #b89b49;
    border-radius: 4px;
  }

  &__form input::placeholder {
    color:black;
    opacity: 0.9;
    font-size: 18px;
  }

  &__form input:focus::-webkit-input-placeholder {
    opacity: 0;
  }

  &__form input:focus::-moz-placeholder {
    opacity: 0;
  }

  &__form input:-ms-input-placeholder {
    opacity: 0;
  }

  &__form input:focus:-moz-placeholder {
    opacity: 0;
  }

  &__form label {
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 30%;
    right: 23px;
    cursor: pointer;
  }
  
}



.white {
  color: #fff !important;
}

.scroll {
  color: #fff;
      
  &:hover {
    color: #fff !important;
    text-shadow: 2px 2px 10px rgba($color: #fff, $alpha: 0.9),
    -2px -2px 10px rgba($color: #fff, $alpha: 0.9) !important;
  }
}

.main {
  width: calc(100% - 250px);
  display: flex;
  flex-direction: column;
  padding-left:30px;
  @include bp-max(md) {
  width: 100%;
  padding: 0;
  }
}

.icon-menu {
  display: none;
}

.menu {

  & li {
    position: relative;
    list-style: none;
    // @include bp-max(md) {
    // 	display: none;
    //  }
  }
  &__list {
    display: flex;
    gap: 45px;
    font-size: 18px;
    align-items: center;
    @include bp-max(lg) {
      gap: 15px;
      font-size: 16px;
    }
    @include bp-max(md) {
      display: none;
    }
    @media (max-width: 1440px) {
      gap: 30px;
    }
  }
  &__list > li:hover .sub-menu__list {
    display: block;
  }
  &__item {
    color: $dark-marine;
    transition: all 0.2s ease-out;

    &:hover {
      color: $marine;

      &:not(:first-child)::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }

    &:first-child {
      &:hover .menu__link_catalog {
        color: #fff;
        text-shadow: 2px 2px 10px rgba($color: #fff, $alpha: 0.5),
          -2px -2px 10px rgba($color: #fff, $alpha: 0.5);
        background-color: $marine;
        box-shadow: 2px 2px 10px rgba($color: $marine, $alpha: 0.9),
          -2px -2px 10px rgba($color: $marine, $alpha: 0.9);
        border: 2px solid $marine;
      }

      &:hover .menu__link_catalog-scroll {
        color: $marine !important;
        background-color: #fff;
        box-shadow: 2px 2px 10px rgba($color: #fff, $alpha: 0.9),
          -2px -2px 10px rgba($color: #fff, $alpha: 0.9);
        transition: all 0.3s ease-out;
      }
    }

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: -12px;
      left: 0;
      background-color: $marine;
      box-shadow: 5px 5px 10px rgba($color: $light-marine, $alpha: 0.5),
        -5px -5px 10px rgba($color: $light-marine, $alpha: 0.5);
      filter: blur(0.5px);
      transform-origin: bottom right;
      transition: transform 0.3s ease-out;
    }

    &_scroll {

      &::after {
        background-color: #fff;
        box-shadow: 5px 5px 10px rgba($color: #fff, $alpha: 0.5),
          -5px -5px 10px rgba($color: #fff, $alpha: 0.5);
      }
    }
  }

  &__link {
    
    &_catalog {
      padding: 10px 20px;
      border: 2px solid $dark-marine;
      transition: all 0.3s ease-out;
    }

    &_catalog-scroll {
      padding: 10px 20px;
      border: 2px solid #fff;
      transition: all 0.3s ease-out;
    }

    &_scroll {

      &:hover {
        text-shadow: 2px 2px 10px rgba($color: #fff, $alpha: 0.9),
            -2px -2px 10px rgba($color: #fff, $alpha: 0.9);
      }
    }
  }
  & .icon-catalog {
    margin-right: 10px;
  }

  & .sub-menu__list {
    display: none;
    min-width: 235px;
    position: absolute;
    left: 0;
    top: 15px;
    padding: 19px 0px 0px 0px;

    @include bp-max(lg) {
      min-width: 215px;
      top: 13px;
    }
  }

  & .sub-menu__list > li,
    .sub-sub-menu__list > li {
    background-color: $dark-marine;
    transition: 0.5s;
    padding: 9px;
  }

  & .sub-menu__list > li:hover,
  .sub-sub-menu__list > li:hover {
    background-color: $marine;
    padding-left: 20px;
  }
  & .sub-menu__list > li:hover .sub-sub-menu__list {
    display: block;
  }

  & .sub-menu__link,
  .sub-sub-menu__link {
    display: inline-block;
    padding: 5px 10px;
    color: #fff;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #fff;
      transform-origin: bottom right;
      transition: transform 0.3s ease-out;
    }
    &:hover {
      color: #fff;
      text-shadow: 1px 1px 10px rgba($color: #fff, $alpha: 0.9),
        -1px -1px 10px rgba($color: #fff, $alpha: 0.9);

      &::after {
        transform: scaleX(1);
        transform-origin: bottom left;
        box-shadow: 2px 2px 10px rgba($color: #fff, $alpha: 0.9),
        -2px -2px 10px rgba($color: #fff, $alpha: 0.9);
      filter: blur(2px);
      }
    }
  }

  & .sub-sub-menu__list {
    display: none;
    min-width: auto;
    position: absolute;
    top: 0;
    left: 100%;
    padding: 0px 0px 0px 1px;
  }
}

body.mouse .menu__list > li:hover .sub-menu__list {
  display: block;
}

body.mouse .sub-menu__list > li:hover .sub-sub-menu__list {
  display: block;
}
.burger__body {
  display: flex;
  justify-content: center;
}
.burger__list {
  display: flex;
  flex-direction: row;
}
.burger__list li:hover .sub-burger__list {
  display: block;
}
.sub-burger__list {
  display: none;
  position: absolute;
  top: 25px;
  left: 0px;
  background: #221f1f;
  border-radius: 6px;
  padding: 10px 0;
}
.sub-burger__item {padding: 4px 20px;}
.sub-burger__link {
  font-size: 17px;
  width: 100%;
  line-height: 1;
  display: inline-block;
  color: #b89b49;
}
.burger__link {
  font-size: 18px;
  padding: 10px 20px;
  transition: 200ms;
  color: #b89b49;
  &:hover {color: #b89b497e;}
}


// Catalog page with filters

.G-container-small {
  width: 100%;
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.wrapper-catalog-filter {
  display: flex;
}
.catalog-filter__buttons {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  .filter-button {
    width: 100%;
    border-radius: 6px;
    border: none;
    background: #b89b49;
    padding: 8px 0;
    display: inline-block;
    cursor: pointer;
    font-size: 18px;
    transition: 200ms;
    &:hover {background: #b89b49;}
    &__it {
      flex-grow: 1;
      @include bp-max(md) {max-width: 49%;}
    }
    &__close {
      max-width: 49%;
      background: #d7d7d7;
      display: none;
      @include bp-max(md) {display:block;}
    }
  }
}
.category-title {
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 10px;
}
.filter-container {
  width: 100%;
  min-width: 320px;
  max-width: 300px;
  border: 1px solid #919191;
  border-radius: 6px;
  padding: 30px 20px;
  @include bp-max(md) {
    z-index: -99;
    opacity: 0;
    pointer-events: none;
    display: flex;
    flex-direction: column;
  }
  &.active {
    z-index: 33;
    opacity: 1;
    pointer-events: all;
  }
  .filter-title {
    font-size: 20px;
    border-bottom: 2px solid black;
    width: max-content;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    &:before {
      content: '';
      background: url(../img/filter-icon.svg) no-repeat;
      width: 30px;
      height: 30px;
      display: inline-block;
      margin-right: 10px;
    }
  }
  .filter-category-title {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 15px;
  }
  .filter-wrapper {    
    @include bp-max(md) {
      overflow-y: scroll;
      flex-grow: 1;
  
    }

    label {
      display: flex;
      align-items: center;
      position: relative;
      cursor: pointer;
      font-weight: 500;
      font-size: 16px;
      line-height: 28px;
      color: #000000;
      .custon-check {
        border: 1px solid #5E5E5E;
        border-radius: 3px;
        width: 24px;
        height: 24px;
        display: inline-block;
        margin-right: 20px;
        flex-shrink: 0;
        position: relative;
        &:before {
          content: '';
          position: absolute;
          top: -1px;
          left: 3px;
          width: 70%;
          height: 70%;
          transform: rotate(45deg) skew(20deg, 20deg) scale(0);
          border-bottom: 3px solid #000;
          border-right: 3px solid #000;
          transition: 300ms;
        }
      }
      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        &:checked ~ .custon-check:before{
          transform: rotate(45deg) skew(10deg, 10deg) scale(1);
        }
      }
    }
  }
  
}
.catalog-container {
  margin-left: 20px;
}
.sort-container {
  background: #ffffff;
  border: 1px solid #919191;
  border-radius: 6px;
  padding: 10px 16px;
  margin-bottom: 20px;
  display: flex;
    flex-direction: row;
    align-items: center;
  @include bp-max(md) {
    border: none;
    padding: 20px 0;
  }
 

  span {
    font-size: 18px;
  }
  &__select-wrapper {
    position: relative;
    display: inline-block;
    margin: 0 30px 0 15px;
    select {
      background: #FFFFFF;
      border: 1px solid #919191;
      border-radius: 6px;
      font-weight: 400;
      font-size: 18px;
      padding: 10px 40px 10px 16px;
      color: #939393;
      appearance:none;
      option {
        font-weight: 400;
        font-size: 18px;
        color: #939393;
        padding: 6px 0;
      }
    }
    &:before {
      content: '';
        position: absolute;
        top: 18px;
        right: 15px;
        width: 10px;
        height: 10px;
        transform: rotate(45deg);
        border-bottom: 2px solid #000;
        border-right: 2px solid #000;
        transition: 300ms;
        pointer-events: none;
        transform-origin: center;
    }
  }
}
.filter-open {
  display: none;
  cursor: pointer;
  @include bp-max(md) {display: inline-block;}
  &:before {
    content: "";
    background: url(../img/filter-icon.svg) no-repeat center center / 100%;
    width: 18px;
    height: 18px;
    display: inline-block;
    margin-right: 10px;
  }
}
.catalog-items {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  .card {
    width: 24%;
    margin-bottom: 10px;
    height: auto;
    &__link {
      font-size: 15px;
    }
  }
  .card__price.no-price {
    font-size: 18px;
    color: grey;
  }
  .icon-to-cart.no-price {
    background: url(../img/cart-price-arrow.svg) no-repeat center center #b89b49;
    &:before {
      content: '';
    }
  }
}

.breadcrumbs {
  width: 100%;
  margin-bottom: 10px;
  &-link {
    font-weight: 300;
    font-size: 16px;
    color: #696868;
    transition: 200ms;
    &:hover {color: black;}
    &:after {
      content: '/';
      display: inline-block;
      width: 20px;
      text-align: center;
      cursor: default;
    }
    &:last-child {
      &:after {display: none;}
    }
  }
}

// Pagination

.catalog-pagination {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-top: 30px;
  a {
    font-weight: 400;
    font-size: 20px;
    width: 40px;
    height: 40px;
    background: white;
    border: 1px solid #B7B7B7;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 4px;
    transition: 300ms;
    &:hover {
      background-color: #ebebeb;
    }
    &.active {
      background: #5694E4;
      color: white;
      border: none;
    }
    &.page-next, &.page-prev {
      transform: rotate(-135deg);
      border-radius: 0;
      border-width: 3px;
      width: 20px;
      height: 20px;
      transform-origin: center;
      clip-path: inset(19% 19% 0% 0%);
      margin: 9px 0 0 3px;
      &:hover {
        background: none;
        border-color: black;
      }
    }
    &.page-prev {
      transform: rotate(45deg);
      margin: 9px 3px 0 0;
    }
  }
}

.index-wrapper{
  display: flex;
    width: 100%;
    max-width: 1440px;
    padding-top: 125px;
    margin: 0 auto;
    flex-grow: 1;
}


.catalog{
  width: 250px;
  margin-left: 25px;
  @include bp-max(md) {display: none;}
}
.accordion {
  background: linear-gradient(45deg, #d7b867, transparent) no-repeat bottom center / 100% 1px;
  color: #99803d;
  cursor: pointer;
  padding: 18px 18px 18px 0;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  transition: 0.4s;
}
.accordion:hover {
  color: #d7b867;
}

.panel {
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.catalog-wrapper {
  @include bp-max(md) {margin-top: 40px;}
}
.catalog-category-wrapper {
  flex-direction: row;
  flex-wrap: wrap;
}

.static-page {
  .G-container-small {
    justify-content: start;
  }
  h1 {
    font-size: 24px;
    width: 100%;
    margin-bottom: 30px;
  }
  h2 {
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    margin: 20px 0;
  }
  h3 {
    font-size: 20px;
    font-weight: 300;
    width: 100%;
  }
  p {
    font-size: 17px;
    margin-bottom: 12px;
  }
  ul, ol {
    padding: 20px;
    li {
      font-size: 17px;
    }
  }
  strong {}
}

.slider-container.hero {
}
.slider-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.slider {
  overflow-x: hidden;
  position: relative;
}
.header__profile-button {
  width: 30px;
    height: 30px;
}

.catalog-item__link:first-child {margin-top: 10px;}
.catalog-item__link {
  color: grey;
    font-size: 15px;
    display: block;
        padding: 6px 0 6px 14px;
        background: linear-gradient(45deg, #b79947, rgb(171 131 131 / 0%)) no-repeat center left / 11px 1px;
}

.catalog-title {
      font-size: 22px;
    color: #221f1f;
        padding: 0 0 20px 0;
}

.catalog-close {display: none;}
.catalog-open-button {
  display: none;
  @include bp-max(md) {
    display: block;
    color: #b89b49;
    font-size: 20px;
    font-weight: 500;
    margin-right: 28px;
    cursor: pointer;
    transition: 20ms;
    &:hover {color: #e5c469;}
  }
}