<div class="wrapper">
  <div class="G-container-small">
    <div class="breadcrumbs">
      <a href="" class="breadcrumbs-link">Головна</a>
      <a href="" class="breadcrumbs-link">Відеонагляд</a>
      <a href="" class="breadcrumbs-link">Відеокамери</a>
    </div>

    <div class="wrapper-catalog-filter">
      <div class="filter-container">
        <div class="filter-title">Фільтри товарів</div>

        <div class="filter-wrapper">
          <div class="filter-category-title">Бренд</div>
          <label class="form-control">
            <input type="checkbox" name="checkbox" />
            <span class="custon-check"></span> TVT
          </label>
          <label class="form-control">
            <input type="checkbox" name="checkbox" />
            <span class="custon-check"></span> Light Vision
          </label>
          <label class="form-control">
            <input type="checkbox" name="checkbox" />
            <span class="custon-check"></span> Dahua
          </label>
          <label class="form-control">
            <input type="checkbox" name="checkbox" />
            <span class="custon-check"></span> Hikvision
          </label>
          <label class="form-control">
            <input type="checkbox" name="checkbox" />
            <span class="custon-check"></span> IMOU
          </label>
          <label class="form-control">
            <input type="checkbox" name="checkbox" />
            <span class="custon-check"></span> Ezviz
          </label>

          <div class="filter-category-title">ТИП ПРИСТРОЮ</div>
          <div class="filter-category-wrapper">
            <label class="form-control">
              <input type="checkbox" name="checkbox" />
              <span class="custon-check"></span> IP-відеокамера
            </label>
            <label class="form-control">
              <input type="checkbox" name="checkbox" />
              <span class="custon-check"></span> HDTVI-відеокамера
            </label>
            <label class="form-control">
              <input type="checkbox" name="checkbox" />
              <span class="custon-check"></span> IP PTZ відеокамера
            </label>
            <label class="form-control">
              <input type="checkbox" name="checkbox" />
              <span class="custon-check"></span>
              HDTVI PTZ відеокамера
            </label>
          </div>
          <div class="filter-category-title">ТИП ВСТАНОВЛЕННЯ ВІДЕОКАМЕРИ</div>
          <div class="filter-category-wrapper">
            <label class="form-control">
              <input type="checkbox" name="checkbox" />
              <span class="custon-check"></span> Внутрішнє
            </label>
            <label class="form-control">
              <input type="checkbox" name="checkbox" />
              <span class="custon-check"></span> Вуличне
            </label>
          </div>

          <div class="filter-category-title">ЗОВНІШНІЙ ВИГЛЯД</div>
          <div class="filter-category-wrapper">
            <label class="form-control">
              <input type="checkbox" name="checkbox" />
              <span class="custon-check"></span> Кубічна
            </label>
            <label class="form-control">
              <input type="checkbox" name="checkbox" />
              <span class="custon-check"></span> Купольна
            </label>
            <label class="form-control">
              <input type="checkbox" name="checkbox" />
              <span class="custon-check"></span> Циліндрична
            </label>
          </div>
          <div class="filter-category-title">РОЗДІЛЬНА ЗДАТНІСТЬ КАМЕРИ</div>
          <div class="filter-category-wrapper">
            <label class="form-control">
              <input type="checkbox" name="checkbox" />
              <span class="custon-check"></span> 1 Мп (1280x720)
            </label>
            <label class="form-control">
              <input type="checkbox" name="checkbox" />
              <span class="custon-check"></span> 2 Мп (1920x1080)
            </label>
            <label class="form-control">
              <input type="checkbox" name="checkbox" />
              <span class="custon-check"></span> 3 Мп (2048x1536)
            </label>
            <label class="form-control">
              <input type="checkbox" name="checkbox" />
              <span class="custon-check"></span> 3 Мп (2304x1296)
            </label>
            <label class="form-control">
              <input type="checkbox" name="checkbox" />
              <span class="custon-check"></span> 4 Мп (2560x1440)
            </label>
            <label class="form-control">
              <input type="checkbox" name="checkbox" />
              <span class="custon-check"></span> 4 Мп (2592x1520)
            </label>
            <label class="form-control">
              <input type="checkbox" name="checkbox" />
              <span class="custon-check"></span> 4 Мп (2688x1520)
            </label>
            <label class="form-control">
              <input type="checkbox" name="checkbox" />
              <span class="custon-check"></span> 5 Мп (2560x1936)
            </label>
            <label class="form-control">
              <input type="checkbox" name="checkbox" />
              <span class="custon-check"></span> 5 Мп (2560x1944)
            </label>
            <label class="form-control">
              <input type="checkbox" name="checkbox" />
              <span class="custon-check"></span> 5 Мп (2592x1944)
            </label>
            <label class="form-control">
              <input type="checkbox" name="checkbox" />
              <span class="custon-check"></span> 5 Мп (2880x1620)
            </label>
            <label class="form-control">
              <input type="checkbox" name="checkbox" />
              <span class="custon-check"></span> 6 Мп (3072x2048)
            </label>
            <label class="form-control">
              <input type="checkbox" name="checkbox" />
              <span class="custon-check"></span> 6 Мп (3072x2048)
            </label>
            <label class="form-control">
              <input type="checkbox" name="checkbox" />
              <span class="custon-check"></span> 8 Мп (3840x2160)
            </label>
          </div>
          <div class="filter-category-title">WI-FI</div>
          <div class="filter-category-wrapper">
            <label class="form-control">
              <input type="checkbox" name="checkbox" />
              <span class="custon-check"></span> Так
            </label>
          </div>
          <div class="filter-category-title">4G</div>
          <div class="filter-category-wrapper">
            <label class="form-control">
              <input type="checkbox" name="checkbox" />
              <span class="custon-check"></span> Так
            </label>
            <label class="form-control">
              <input type="checkbox" name="checkbox" />
              <span class="custon-check"></span> Ні
            </label>
          </div>
        </div>

        <div class="catalog-filter__buttons">
          <button class="filter-button filter-button__it">Фільтрувати</button>
          <button class="filter-button filter-button__close">Закрити</button>
        </div>
      </div>

      <div class="catalog-container">
        <div class="category-title">Відеокамери</div>
        <div class="sort-container">
          <div class="sort-group">
            <span>Сортувати за:</span>
            <div class="sort-container__select-wrapper">
              <select name="" id="">
                <option value="1">first</option>
                <option value="1">first</option>
                <option value="1">first</option>
                <option value="1">first</option>
                <option value="1">first</option>
              </select>
            </div>
          </div>
          <div class="sort-group">
            <span>Показати по:</span>
            <div class="sort-container__select-wrapper">
              <select name="" id="">
                <option value="1">first</option>
                <option value="1">first</option>
                <option value="1">first</option>
                <option value="1">first</option>
                <option value="1">first</option>
              </select>
            </div>
          </div>

          <div class="filter-open">фільтр</div>
        </div>
        <div class="catalog-items">
          <article class="hits__card card">
            <div class="card__body">
              <a href="/product" class="card__image"
                ><img
                  src="template/img/hits-1.png"
                  alt="ajax alarm system"
                  class="card__img"
              /></a>
              <h3 class="card__title">
                <a
                  href="template/pages/product/product.html"
                  class="card__link"
                >
                  Комплект бездротової сигналізації Ajax StarterKit Plus чорний
                  з WiFi, 2G, 3G та Ethernet
                </a>
              </h3>
              <p class="card__text">Ціна:</p>
              <div class="card__prices">
                <span class="card__price no-price">Ціну уточнюйте</span>
                <button
                  type="button"
                  class="card__cart icon-to-cart no-price"
                ></button>
              </div>
            </div>
          </article>
        </div>
        <div class="catalog-pagination">
          <a href="" class="page-prev"></a>
          <a href="" class="active">1</a>
          <a href="">2</a>
          <a href="">...</a>
          <a href="">3</a>
          <a href="">4</a>
          <a href="" class="page-next"></a>
        </div>
      </div>
    </div>
  </div>
</div>
