<div class="wrapper">

<div class="G-container-small">
	<div class="breadcrumbs">
        <a href="" class="breadcrumbs-link">Головна</a>
        <a href="" class="breadcrumbs-link">Відеонагляд</a>
        <a href="" class="breadcrumbs-link">Відеокамери</a>   
    </div>
</div>

<!-- ===== PRODUCT PAGE ===== -->
	<div class="product">
		<div class="container">
			<div class="product__wrapper">
				<section class="product__about about">
					<div class="about__left">
						<div class="about__slider outer">
							<div id="big" class="about__slider-big big-slider owl-carousel owl-theme">
								<div class="big-slider__item item">
									<img src="template/img/product-1.png" alt="product" class="big-slider__img">
								</div>
								<div class="big-slider__item item">
									<img src="template/img/product-2.png" alt="product" class="big-slider__img">
								</div>
								<div class="big-slider__item item">
									<img src="template/img/product-3.png" alt="product" class="big-slider__img">
								</div>
								<div class="big-slider__item item">
									<img src="template/img/product-4.png" alt="product" class="big-slider__img">
								</div>
								<div class="big-slider__item item">
									<img src="template/img/product-3.png" alt="product" class="big-slider__img">
								</div>
								<div class="big-slider__item item">
									<img src="template/img/product-1.png" alt="product" class="big-slider__img">
								</div>
								<div class="big-slider__item item">
									<img src="template/img/product-2.png" alt="product" class="big-slider__img">
								</div>
							</div>
							<div id="thumbs" class="about__slider-thumbs thumbs-slider owl-carousel owl-theme">
								<div class="thumbs-slider__item item">
									<img src="template/img/product-1.png" alt="product" class="thumbs-slider__img">
								</div>
								<div class="thumbs-slider__item item">
									<img src="template/img/product-2.png" alt="product" class="thumbs-slider__img">
								</div>
								<div class="thumbs-slider__item item">
									<img src="template/img/product-3.png" alt="product" class="thumbs-slider__img">
								</div>
								<div class="thumbs-slider__item item">
									<img src="template/img/product-4.png" alt="product" class="thumbs-slider__img">
								</div>
								<div class="thumbs-slider__item item">
									<img src="template/img/product-3.png" alt="product" class="thumbs-slider__img">
								</div>
								<div class="thumbs-slider__item item">
									<img src="template/img/product-1.png" alt="product" class="thumbs-slider__img">
								</div>
								<div class="thumbs-slider__item item">
									<img src="template/img/product-2.png" alt="product" class="thumbs-slider__img">
								</div>
							</div>
						</div>
					</div>
					<div class="about__right">
						<h2 class="about__title">Відеокамера TD-9422E3 (D/AZ/PE/AR3) TVT 2Mp f=2.8-12 мм</h2>
						<p class="about__list-label">Коротко про товар:</p>
						<ul class="about__list">
							<li class="about__item">Артикул: 77-00014</li>
							<li class="about__item">Категорія: Відеокамери</li>
							<li class="about__item">Тип встановлення: вуличне</li>
							<li class="about__item">Зовнішній вигляд: циліндрична</li>
							<li class="about__item">Тип об’єктива: монофокальний</li>
						</ul>
						<p class="about__price-text">Ціна:</p>
						<span>5 838 ₴</span>
						<div class="about__buy buy">
							<div class="buy__count-row">
								<div class="buy__count-column">
									<button class="buy__minus icon-chevron-left" type="button"></button>
								</div>
								<div class="buy__count-column">
									<div class="buy__counter">
										<div class="buy__count">25</div>
									</div>
								</div>
								<div class="buy__count-column">
									<button class="buy__plus icon-chevron-right" type="button"></button>
								</div>
							</div>
							<button class="buy__btn btn" type="submit">Купити</button>
						</div>
					</div>
				</section>
				<section class="product__desc desc">
					<div class="desc__wrapper">
						<article class="desc__read-more">
							<input type="checkbox" class="desc__read-more-checker" id="desc__read-more-checker" />
							<div class="desc__limited">
								<h2 class="desc__title title">Опис</h2>
								<p class="desc__text">
									IP-відеокамера з моторизованим об’єктивом TD-9422E3 (D/AZ/PE/AR3) на 2 Мр від TVT Digital є сучасним технологічним пристроєм відеоспостереження. Ця модель призначена не просто для запису відео та охорони об’єктів. Завдяки вбудованій функції інтелектуальної відеоаналітики вона має широкий спектр можливостей та сценаріїв програм.
								</p>
								<p class="desc__text">
									Інтелектуальна відеоаналітика камери включає такі функції як виявлення залишеного об’єкта (багаж, сумка), виявлення входу / виходу із зазначеного регіону (класифікація людини / транспортного засобу), виявлення перетину лінії, виявлення злому відео, детекція зміни положення камери, детекція особи , захоплення особи, стеження за людьми, виявлення щільності натовпу, теплова карта, підрахунок людей / транспортних засобів.
								</p>
								<div class="desc__bottom bottom"></div>
							</div>
							<label for="desc__read-more-checker" class="desc__read-more-button"></label>
						</article>
					</div>
				</section>
				<section class="product__char char">
					<div class="char__wrapper">
						<div class="char__info">
							<article class="char__read-more">
								<input type="checkbox" class="char__read-more-checker" id="char__read-more-checker" />
								<div class="char__limited">
									<h2 class="char__title title">Характеристика</h2>
									<div class="char__text">
										<ul class="char__list">
											<li class="char__item">
												<span>4G</span><span></span><span>Ні</span>
											</li>
											<li class="char__item">
												<span>Бренд</span><span></span><span>TVT</span>
											</li>
											<li class="char__item">
												<span>Дальність підсвічування</span><span></span><span>20-50 м</span>
											</li>
											<li class="char__item">
												<span>Фокусна відстань</span><span></span><span>2.8-12 мм</span>
											</li>
											<li class="char__item">
												<span>Гарантія</span><span></span><span>12 міс.</span>
											</li>
											<li class="char__item">
												<span>Карта пам'яті</span><span></span><span>Micro SD карта до 128 Гб</span>
											</li>
										</ul>
										<ul class="char__list">
											<li class="char__item">
												<span>Кількість користувачів онлайн</span><span></span><span>6</span>
											</li>
											<li class="char__item">
												<span>Кількість потоків</span><span></span><span>3</span>
											</li>
											<li class="char__item">
												<span>Клас захисту корпусу</span><span></span><span>IP67</span>
											</li>
											<li class="char__item">
												<span>Колір</span><span></span><span>Білий</span>
											</li>
											<li class="char__item">
												<span>Матеріал корпусу</span><span></span><span>Метал</span>
											</li>
											<li class="char__item">
												<span>Матриця</span><span></span><span>1/2.8"CMOS</span>
											</li>
										</ul>
									</div>
									<div class="char__bottom bottom"></div>
								</div>
								<label for="char__read-more-checker" class="char__read-more-button"></label>
							</article>
						</div>
					</div>
				</section>
				<section class="feedback">
					<div class="container">
						<div class="feedback__wrapper">
							<h2 class="feedback__title title">Відгуки</h2>
							<form action="#" method="get" class="feedback__form form">
								<h3 class="form__title">Написати відгук</h3>
								<div>
									<input class="form__name" placeholder="Ваше ім’я" tabindex="1" name="user_name" type="text" />
								</div>
								<div>
									<input class="form__email" placeholder="Ваш імейл" tabindex="2" name="usser_email" type="email" data-required="email" />
								</div>
								<div>
									<textarea class="form__message" placeholder="Ваше коментар" tabindex="3" name="text"></textarea>
								</div>
								<div class="form__rating rating">
									<span class="rating__text">Ваша оцінка</span>
									<div class="rating__stars">
										<button class="rating__star" id="star-1" type="button">&#9734;</button>
										<button class="rating__star" id="star-2" type="button">&#9734;</button>
										<button class="rating__star" id="star-3" type="button">&#9734;</button>
										<button class="rating__star" id="star-4" type="button">&#9734;</button>
										<button class="rating__star" id="star-5" type="button">&#9734;</button>
									</div>
									<span id="rating__current" class="rating__current">0/5</span>
							 	</div>
									<div class="form__button">
										<button class="form__btn btn" tabindex="4" type="submit">Додати відгук</button>
									</div>
								</form>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
	<!-- ===== END OF PRODUCT PAGE ===== -->

</div>