<div class="wrapper">

    <div class="header__img">
        <!-- <img src="template/img/hero-img-catalog.png" alt="background"> -->
    </div>
    <div class="hero">
        <div class="container">
            <div class="hero__wrapper">
                <h1 class="hero__title">Наші охоронні системи для вас</h1>
            </div>
        </div>
    </div>    

    <div class="catalog-wrapper">
        <div class="container catalog-category-wrapper">
            <h2 class="hits__title title">Все для перемоги</h2>
            <div class="catalog-slider owl-carousel owl-theme">
                <article class="hits__card card">
                    <div class="card__body">
                        <a href="#" class="card__image"><img src="template/img/hits-1.png" alt="ajax alarm system" class="card__img"></a>
                        <h3 class="card__title">
                            <a href="http://localhost:8000/product" class="card__link">
                                Комплект бездротової сигналізації Ajax StarterKit Plus чорний з WiFi, 2G, 3G та Ethernet
                            </a>
                        </h3>
                    </div>
                </article>
                <article class="card">
                    <div class="card__body">
                        <a href="#" class="card__image"><img src="template/img/hits-2.png" alt="ajax alarm system" class="card__img"></a>
                        <h3 class="card__title">
                            <a href="http://localhost:8000/product" class="card__link">
                                Джерело безперебійного живлення PSU-1203LED Kraft 
                            </a>
                        </h3>
                    </div>
                </article>
                <article class="card">
                    <div class="card__body">
                        <a href="#" class="card__image"><img src="template/img/hits-3.png" alt="ajax alarm system" class="card__img"></a>
                        <h3 class="card__title">
                            <a href="http://localhost:8000/product" class="card__link">
                                Акумуляторна батарея 12V7Ah/20Hr F2 TRINIX свинцево-кислотна
                            </a>
                        </h3>
                    </div>
                </article>
                <article class="card">
                    <div class="card__body">
                        <a href="#" class="card__image"><img src="template/img/hits-4.png" alt="ajax alarm system" class="card__img"></a>
                        <h3 class="card__title">
                            <a href="http://localhost:8000/product" class="card__link">
                                Відеокамера TD-C12 TVT 2Mp f=2.8 мм
                            </a>
                        </h3>
                    </div>
                </article>
                <article class="card">
                    <div class="card__body">
                        <a href="#" class="card__image"><img src="template/img/hits-5.png" alt="ajax alarm system" class="card__img"></a>
                        <h3 class="card__title">
                            <a href="http://localhost:8000/product" class="card__link">
                                Відеокамера TD-9482S3 (D/PE/AR3) TVT 8Mp f=2.8 мм
                            </a>
                        </h3>
                    </div>
                </article>
                <article class="card">
                    <div class="card__body">
                        <a href="#" class="card__image"><img src="template/img/hits-3.png" alt="ajax alarm system" class="card__img"></a>
                        <h3 class="card__title">
                            <a href="http://localhost:8000/product" class="card__link">
                                Комплект бездротової сигналізації Ajax StarterKit Plus чорний з WiFi, 2G, 3G та Ethernet
                            </a>
                        </h3>
                    </div>
                </article>
            </div>
        </div>

        <div class="container catalog-category-wrapper">
            <h2 class="hits__title title">Все для перемоги</h2>
            <div class="catalog-slider owl-carousel owl-theme">
                <article class="hits__card card">
                    <div class="card__body">
                        <a href="#" class="card__image"><img src="template/img/hits-1.png" alt="ajax alarm system" class="card__img"></a>
                        <h3 class="card__title">
                            <a href="template/pages/product/product.html" class="card__link">
                                Комплект бездротової сигналізації Ajax StarterKit Plus чорний з WiFi, 2G, 3G та Ethernet
                            </a>
                        </h3>
                    </div>
                </article>
                <article class="card">
                    <div class="card__body">
                        <a href="#" class="card__image"><img src="template/img/hits-2.png" alt="ajax alarm system" class="card__img"></a>
                        <h3 class="card__title">
                            <a href="#" class="card__link">
                                Джерело безперебійного живлення PSU-1203LED Kraft 
                            </a>
                        </h3>
                    </div>
                </article>
                <article class="card">
                    <div class="card__body">
                        <a href="#" class="card__image"><img src="template/img/hits-3.png" alt="ajax alarm system" class="card__img"></a>
                        <h3 class="card__title">
                            <a href="#" class="card__link">
                                Акумуляторна батарея 12V7Ah/20Hr F2 TRINIX свинцево-кислотна
                            </a>
                        </h3>
                    </div>
                </article>
                <article class="card">
                    <div class="card__body">
                        <a href="#" class="card__image"><img src="template/img/hits-4.png" alt="ajax alarm system" class="card__img"></a>
                        <h3 class="card__title">
                            <a href="#" class="card__link">
                                Відеокамера TD-C12 TVT 2Mp f=2.8 мм
                            </a>
                        </h3>
                    </div>
                </article>
                <article class="card">
                    <div class="card__body">
                        <a href="#" class="card__image"><img src="template/img/hits-5.png" alt="ajax alarm system" class="card__img"></a>
                        <h3 class="card__title">
                            <a href="#" class="card__link">
                                Відеокамера TD-9482S3 (D/PE/AR3) TVT 8Mp f=2.8 мм
                            </a>
                        </h3>
                    </div>
                </article>
                <article class="card">
                    <div class="card__body">
                        <a href="#" class="card__image"><img src="template/img/hits-3.png" alt="ajax alarm system" class="card__img"></a>
                        <h3 class="card__title">
                            <a href="#" class="card__link">
                                Комплект бездротової сигналізації Ajax StarterKit Plus чорний з WiFi, 2G, 3G та Ethernet
                            </a>
                        </h3>
                    </div>
                </article>
            </div>
        </div>

        <div class="container catalog-category-wrapper">
            <h2 class="hits__title title">Все для перемоги</h2>
            <div class="catalog-slider owl-carousel owl-theme">
                <article class="hits__card card">
                    <div class="card__body">
                        <a href="#" class="card__image"><img src="template/img/hits-1.png" alt="ajax alarm system" class="card__img"></a>
                        <h3 class="card__title">
                            <a href="template/pages/product/product.html" class="card__link">
                                Комплект бездротової сигналізації Ajax StarterKit Plus чорний з WiFi, 2G, 3G та Ethernet
                            </a>
                        </h3>
                    </div>
                </article>
                <article class="card">
                    <div class="card__body">
                        <a href="#" class="card__image"><img src="template/img/hits-2.png" alt="ajax alarm system" class="card__img"></a>
                        <h3 class="card__title">
                            <a href="#" class="card__link">
                                Джерело безперебійного живлення PSU-1203LED Kraft 
                            </a>
                        </h3>
                    </div>
                </article>
                <article class="card">
                    <div class="card__body">
                        <a href="#" class="card__image"><img src="template/img/hits-3.png" alt="ajax alarm system" class="card__img"></a>
                        <h3 class="card__title">
                            <a href="#" class="card__link">
                                Акумуляторна батарея 12V7Ah/20Hr F2 TRINIX свинцево-кислотна
                            </a>
                        </h3>
                    </div>
                </article>
                <article class="card">
                    <div class="card__body">
                        <a href="#" class="card__image"><img src="template/img/hits-4.png" alt="ajax alarm system" class="card__img"></a>
                        <h3 class="card__title">
                            <a href="#" class="card__link">
                                Відеокамера TD-C12 TVT 2Mp f=2.8 мм
                            </a>
                        </h3>
                    </div>
                </article>
                <article class="card">
                    <div class="card__body">
                        <a href="#" class="card__image"><img src="template/img/hits-5.png" alt="ajax alarm system" class="card__img"></a>
                        <h3 class="card__title">
                            <a href="#" class="card__link">
                                Відеокамера TD-9482S3 (D/PE/AR3) TVT 8Mp f=2.8 мм
                            </a>
                        </h3>
                    </div>
                </article>
                <article class="card">
                    <div class="card__body">
                        <a href="#" class="card__image"><img src="template/img/hits-3.png" alt="ajax alarm system" class="card__img"></a>
                        <h3 class="card__title">
                            <a href="#" class="card__link">
                                Комплект бездротової сигналізації Ajax StarterKit Plus чорний з WiFi, 2G, 3G та Ethernet
                            </a>
                        </h3>
                    </div>
                </article>
            </div>
        </div>        
    </div>


</div>
