
/* font family */
$ff-base: "Roboto",
sans-serif;
$ff-title: "Lato",
sans-serif;
$ff-second: 'Roboto',
sans-serif;

/* font-size */
$fs: 20px;


// ===== COLORS ===== 
$blue: #334D6E;
$sky: #3498DB;
$skyL: #58ACF5;
$grey: #BDBDBD;
$greyL: #F2F2F2;
$red: #A31010;
$redD: #8C1B0F;
$green: #089227;
$white: #fff;
$black: #000;
$dark: #000;
$marine: #66d0ce;
$dark-marine: #00aba6;
$light-marine: #00f4cf;
$purple: #ac64d0;
$dark-purple: #6b07a0;

